@import 'default';

$white: #fff;
$black: #000;
$pink: #ef5da8;
$blackMain: #202020;
$blue: #0085ff;
$orange: #ff3d00;
$gray: #808080;
$lightGray: #e3e3e3;

@mixin font($weight,$size){
    font-family: 'Montserrat';
    font-weight: $weight;
    font-size: $size;
}
@mixin button($color){
    color: $color;
    border: 1px solid $color;
    width: 100%;
    @include font(900,14px);
    padding: 10px;
    border-radius: 5px;
    transition: 0.5s;
}
@mixin activeButton($color){
    background-color: $color;
    color: white;
    cursor: pointer;
}
.btn{
    &.orange{
        @include button($orange);
        &:hover{
            @include activeButton($orange);
        }
    }
    &.blue{
        @include button($blue);
        &:hover{
            @include activeButton($blue);
        }
    }
    &.white{
        @include button($white);
        &:hover{
            @include activeButton($white);
            color: $blue;
        }
    }
}
h1{
    @include font(900,20px);
}
h2{
    @include font(900,16px);
}
h3{
    @include font(900,14px);
}
h4{
    @include font(900,12px);
}
p{
    @include font(400,14px);
    &.context{
        color:$gray;
    }
}
body{
    padding: 0 16px;
    header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 38px 0;
        .burger-menu{
            padding: 6px;
            border-radius: 6px;
            transition: 0.5s;
            &:hover{
                background-color: #ef5da850;
                cursor: pointer;
            }
            &:active{
                scale: 0.8;
            }
            .line{
                height: 2px;
                width: 18px;
                background-color: $blackMain;
                margin-bottom: 4px;
                &:last-child{
                    margin-bottom: 0;
                }
            }
        }
        h1{
            text-transform: uppercase;
            transition: 0.5s;
            &.active{
                color: $gray;
            }
            &:hover{
                color: $orange;
            }
        }
        svg{
            &:first-child{
                margin-right: 20px;
            }
            path{
                transition: 0,5s;
                &:hover{
                    fill: $orange;
                }
            }
        }
    }
    .main{
        display: flex;
        justify-content: space-between;
        zoom: 125%;
    
      .container{
        width: 49%;
        background-color: $blue;
        border-radius: 8px;
        position: relative;
       } 
    
      h1{
        font-size: 20px;
        color: white;
        margin: 36px 40px;
      }
    
     .cartinka{
        width: 49%;
        position: relative;
     }  

      img{
        width: 100%;
        height: 100%;
        border-radius: 8px;
        position: absolute;
        object-fit: cover;
      }
    }
}